@model IEnumerable<SportAssoWebApp.Models.Inscription>

@{
    ViewData["Title"] = "Index";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-4">
    <h1 class="mb-4">Inscriptions</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Inscrire un adhérent</a>
    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentsSubmitted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adherent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Creneau)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentsSubmitted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adherent.AdherentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creneau.CreneauId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.InscriptionId" class="btn btn-secondary btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.InscriptionId" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.InscriptionId" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
